body {
  background: radial-gradient(
    circle at center,
    rgba(83, 83, 83, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background: black; */
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

* {
  -ms-overflow-style: none;
  font-family: "Playfair Display", serif;
}
::-webkit-scrollbar {
  display: none;
}

.main-container {
  overflow-x: hidden;
  position: relative;
}
