body {
  background: radial-gradient(
    circle at center,
    rgba(83, 83, 83, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background: black; */
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.main-container {
  overflow-x: hidden;
  position: relative;
}
